* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(8, 8, 46);
    color: #fff;
}

#user-container, .user-container-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.child-div {
    width: 23%;
    margin: 1% 1%;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.79);
    padding: 1%;
}

span {
    display: block;
    margin: 2% 0;
    text-align: center;
    font-size: 18px;
}

.button {
    display: block;
    padding: 3%;
    margin: 5% auto 1%;
    width: 45%;
    border: 1px solid #00c4a7;
    color: #00c4a7;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: #00c4a7;
    color: #fff;
}

.anchor {
    text-decoration: none;
    margin: 2% 5%;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.anchor:hover {
    color: #00c4a7;
}

h3 {
    text-align: center;
}

h4 {
    margin: 3%;
    font-size: 19px;
}

.post-body {
    font-size: 16px;
}

@media screen and (max-width: 992px) {
    .child-div {
        width: 31%;
        margin: 1% 1%;
    }
  }

  @media screen and (max-width: 768px) {
    .child-div {
        width: 48%;
        margin: 1% 1%;
    }
  }

  @media screen and (max-width: 480px) {
    .child-div {
        width: 98%;
        margin: 1% 1%;
    }
  }